*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(./img/cork.png);
}

header{
    background-image: url(./img/wall.png);
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
    font-family: "Edu TAS Beginner", cursive;
    font-style: normal;
    font-weight: 800;
}


.pin{
    position: absolute;
    transform: translate(70%, -70%);
    left: 6.1rem;
}

h1{
    padding: 1.5rem;
}

.data{
font-family: "Sometype Mono", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.titolo{
 font-family: "Edu TAS Beginner", cursive;
    font-style: normal;
    font-weight: 800;
}

.card:hover{
    transform: rotate(5deg);
    transition: 0.25s;
    .pin{
        display: none;
    }
}

.overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.50);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay:target {
  display: flex; 
}

.close-btn {
  position: absolute;
  top: 10px ;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(255,255,255);
}





