*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(./img/cork.png);
}

header{
    background-image: url(./img/wall.png);
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
    font-family: "Edu TAS Beginner", cursive;
    font-style: normal;
    font-weight: 800;
}

p{
     font-family: "Sometype Mono", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pin{
    position: absolute;
    transform: translate(70%, -70%);
    left: 6.1rem;
}

h1{
    padding: 1.5rem;
}

